<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body> <footer>
  <div class="largeFooter">
    <div class="footer-notice">
      <div>
        <span>공지사항</span>
        <span>|</span>
        <span>새로운 소식이 없어요.</span>
        <a href="/center/noticeList.html">
          <img src="/image/icon/right.png" alt="더보기">
        </a>
      </div>
    </div>
    <div class="footer-service">
      <div>
        <span><a>고객센터</a></span>
        <span>|</span>
        <span>운영시간 [평일 09:00 - 18:00] 주말 및 공휴일은 1:1 문의를 이용해 주세요.</span>
        <button type="button" onclick="location.href='/center/noticeDetail.html'">1:1 문의하기</button>
        <button type="button" onclick="location.href='/center/noticeList.html'">FAQ</button>
      </div>
    </div>

    <div class="footer-copyright">
      <div>
        <div class="footer-logo">
          <img src="/image/책장옆.png"></div>
        <div class="footer-sns">
          <div class="footer-sns1"><a href="https://twitter.com/elonmusk?s=21&t=j1IJO62XX5RQNyXE5yav-w"><img src="/image/icon/twitter.png"></a></div>
          <div class="footer-sns2"><a href="https://www.instagram.com/manymorehyun"><img src="/image/icon/instagram.png"></a></div>
          <div class="footer-sns3"><a href="https://youtube.com/shorts/_9sU1Q_AGMU?feature=share"><img src="/image/icon/youtube.png"></a></div>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="footer-inform">
      <p>
      <details open>
        <summary>사업자 정보 펼쳐보기</summary>
        <p>서울 종로구 인사동길 12 대일빌딩 | 대표자 : 우별림 | 사업자등록번호 : 220-86-58115 | 기관명칭 : 책장옆 | 통신판매업신고 : 제2018-서울종로-0495호 | 기관등록번호 : 제2304호
        </p>
      </details>
      </p>
      <div class="footer-copyright2">
        <p>Copyright © 2023 책장옆 All Rights Reserved.</p>
      </div>
    </div>

  </div>
</footer>

</body>
</html>