<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>nav</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

</head>

<header>
    <div class="left">
        <a href="/">
        <div class="logo"><img src="/image/책장옆.png" alt="logo"></div>
        </a>
    </div>
    <div class="search">
        <input type="text" placeholder="찾고 싶은 책을 검색해 보세요!">
        <button class="search_img"><img src="/image/search.png"></button>
    </div>
    <div class="right">
        <nav>
            <ul>
                <li><a>책 창고</a></li>
                <li><a>로그인</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>


</body>
</html>