<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.bookshop.sales.model.dao.CartMapper">

    <resultMap id="cartResultMap" type="com.greedy.bookshop.sales.model.dto.CartDTO">
        <id property="cartCode" column="CART_CODE"/>
        <result property="bookQuantity" column="BOOK_QUANTITY"/>
        <result property="bookCode" column="BOOK_CODE"/>
        <result property="itemStatus" column="ITEM_STATUS"/>
        <result property="userCode" column="USER_CODE"/>
    </resultMap>

    <resultMap id="BookResultMap" type="com.greedy.bookshop.sales.model.dto.BookDTO">
        <id property="bookCode" column="BOOK_CODE"/>
        <result property="bookName" column="BOOK_NAME"/>
        <result property="bookPrice" column="BOOK_PRICE"/>
        <result property="bookAuthor" column="BOOK_AUTHOR"/>
        <result property="bookPublisher" column="BOOK_PUBLISHER"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="bookInventory" column="BOOK_INVENTORY"/>
        <result property="SalesStatus" column="SALES_STATUS"/>
        <result property="bookHit" column="BOOK_HIT"/>
        <result property="bookISBN" column="BOOK_ISBN"/>
        <result property="bookTranslator" column="BOOK_TRANSLATOR"/>
        <result property="bookInteoduction" column="BOOK_INTRODUCTION"/>
        <result property="bookDiscount" column="BOOK_DISCOUNT"/>
        <result property="bookTotalPrice" column="BOOK_TOTALPRICE"/>
    </resultMap>

    <resultMap id="FileResultMap" type="com.greedy.bookshop.sales.model.dto.FileDTO">
        <id property="fileCode" column="FILE_CODE"/>
        <result property="fileMainPath" column="FILE_MAIN_PATH"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="fileCategoryCode" column="FILE_CATEGORY_CODE"/>
        <result property="noticeCode" column="NOTICE_CODE"/>
        <result property="faqCode" column="FAQ_CODE"/>
        <result property="askCode" column="ASK_CODE"/>
        <result property="bookCode" column="BOOK_CODE"/>
    </resultMap>

    <select id="selectUserCart" resultMap="cartResultMap">
        SELECT
            *
        FROM TBL_CART
        WHERE USER_CODE = #{userCode}
        AND ITEM_STATUS = 'N'
    </select>

    <select id="selectBookCart" resultMap="BookResultMap">
        SELECT
            *
        FROM TBL_BOOK
        WHERE BOOK_CODE = #{bookCode}
    </select>

    <select id="selectBookFile" resultMap="FileResultMap">
        SELECT
            *
        FROM TBL_FILE
        WHERE BOOK_CODE = #{bookCode}
        AND FILE_TYPE = 'TITLE'
    </select>

    <select id="selectCart" resultMap="cartResultMap">
        SELECT
            *
        FROM TBL_CART
        WHERE USER_CODE = #{userCode}
        AND BOOK_CODE = #{bookCode}
        AND ITEM_STATUS = 'N'
    </select>

    <select id="selectCart2" resultMap="cartResultMap">
        SELECT
            *
        FROM TBL_CART
        WHERE USER_CODE = #{userCode}
          AND CART_CODE = #{cartCode}
          AND ITEM_STATUS = 'N'
    </select>

    <insert id="insertCart">
        INSERT
        INTO TBL_CART
            (
             CART_CODE,
             BOOK_QUANTITY,
             BOOK_CODE,
             ITEM_STATUS,
             USER_CODE
            )
        VALUES
            (
             SEQ_CATE.NEXTVAL,
             1,
             #{bookCode},
             'N',
             #{userCode}
            )
    </insert>


    <update id="inneritem">
            UPDATE TBL_CART
            SET BOOK_QUANTITY = #{cart.bookQuantity} + 1
            WHERE BOOK_CODE = #{bookCode}
            AND USER_CODE = #{userCode}
    </update>

    <insert id="insertBuyitem">
        INSERT
        INTO TBL_CART
        (
            CART_CODE,
            BOOK_QUANTITY,
            BOOK_CODE,
            ITEM_STATUS,
            USER_CODE
        )
        VALUES
            (
                SEQ_CATE.NEXTVAL,
                1,
                #{bookCode},
                'Y',
                #{userCode}
            )
    </insert>

    <update id="upDateItem">
        UPDATE TBL_CART
            SET ITEM_STATUS = 'Y'
            ,BOOK_QUANTITY =  #{cart.bookQuantity} + 1
        WHERE USER_CODE = #{userCode}
        AND BOOK_CODE = #{bookCode}
    </update>

    <update id="UpdateStatus">
        UPDATE TBL_CART
        SET ITEM_STATUS = 'Y'
          ,BOOK_QUANTITY =  #{cart.bookQuantity} + 1
        WHERE USER_CODE = #{userCode}
          AND CART_CODE = #{cart.cartCode}
    </update>

    <delete id="deleteItem">
            DELETE FROM TBL_CART
            WHERE CART_CODE = #{cartCode}
            AND USER_CODE = #{userCode}
    </delete>
</mapper>

