<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/mypage.css">
    <title>nav</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Questrial&display=swap" rel="stylesheet">

</head>

<header>
    <div class="left">
        <a href="index.html">
            <div class="logo"><img src="../image/책장옆.png" alt="logo"></div>
        </a>
    </div>
    <div class="search">
        <input type="text" placeholder="찾고 싶은 책을 검색해 보세요!">
        <button class="search_img"><img src="../image/search.png"></button>
    </div>
    <div class="right">
        <nav>
            <ul>
                <li><a href="./garage.html">책 창고</a></li>
                <li><a href="./login.html">로그인</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>

    <div id="wrap">
        <section>
            <div class="test">
                <div class="mypage-head">
                    <h1 class="tit">
                        <a href="#">내정보</a>
                    </h1>
                    <div class="grd-box">
                        <p class="txt">
                            <a class="highlight">홍길동</a>님, 회원 정보 수정을 위해 비밀번호를 입력해 주세요.
                        </p>
                    </div>
                </div>
                <div class="mypage-contents">
                    <div class="contents-left">
                        <div class="mypage-side">
                            <ul>
                                <li>
                                    <h2>내창고</h2>
                                    <ul>
                                        <li class="submenu">
                                            <a href="#">주문/배송 조회</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">환불 내역</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">장바구니</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">찜목록</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h2>내활동</h2>
                                    <ul>
                                        <li class="submenu">
                                            <a href="#">1:1문의 내역</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">리뷰</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h2>내정보</h2>
                                    <ul>
                                        <li class="submenu">
                                            <a href="#">회원 정보 수정</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">배송지</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">회원탈퇴</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="editinfo-contents">
                        <div class="notification">
                            <p>고객님의 소중한 정보를 안전하게 관리하세요.</p>
                            <h4>회원님의 개인정보 보호를 위한 본인 확인 절차이오니, 책장옆 로그인 시 사용하시는 비밀번호를 입력해주세요.</h4>
                        </div>
                        <div class="pwd-input">
                            <div class="pwd_box">
                                <span class="input_txt">
                                    <input type="password" id="pwd" class="text" placeholder="비밀번호를 입력해주세요."
                                        title="비밀번호" maxlength="20" style="width:350px;">
                                </span>
                            </div>
                            <div class="btn_center">
                                <button type="button" onclick="javascript:goCheck();" class="btn btn_em">확인</button>
                            </div>
                        </div>
                        <div class="maingo">
                            <a href="#">메인으로</a>
                        </div>
                    </div>

        </section>
    </div>

    <footer>
        <div class="largeFooter">
            <div class="footer-notice">
                <div>
                    <span>공지사항</span>
                    <span>|</span>
                    <span>새로운 소식이 없어요.</span>
                    <a href="./notice.html">
                        <img src="../image/right.png" alt="더보기">
                    </a>
                </div>
            </div>
            <div class="footer-service">
                <div>
                    <span><a href="./service.html">고객센터</a></span>
                    <span>|</span>
                    <span>운영시간 [평일 09:00 - 18:00] 주말 및 공휴일은 1:1 문의를 이용해 주세요.</span>
                    <button type="button" onclick="location.href='./one.html'">1:1 문의하기</button>
                    <button type="button" onclick="location.href='./service.html'">FAQ</button>
                </div>
            </div>

            <div class="footer-copyright">
                <div>
                    <div class="footer-logo">
                        <img src="../image/책장옆.png">
                    </div>
                    <div class="footer-sns">
                        <div class="footer-sns1"><img src="../image/twitter.png"></div>
                        <div class="footer-sns2"><img src="../image/instagram.png"></div>
                        <div class="footer-sns3"><img src="../image/youtube.png"></div>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="footer-inform">
                <p>
                <details open>
                    <summary>사업자 정보 펼쳐보기</summary>
                    <p>서울 종로구 인사동길 12 대일빌딩 | 대표자 : 우별림 | 사업자등록번호 : 220-86-58115 | 기관명칭 : 책장옆 | 통신판매업신고 :
                        제2018-서울종로-0495호 | 기관등록번호 : 제2304호
                    </p>
                </details>
                </p>
                <div class="footer-copyright2">
                    <p>Copyright © 2023 책장옆 All Rights Reserved.</p>
                </div>
            </div>

        </div>
    </footer>

</body>

</html>