<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.bookshop.member.dao.MemberMapper">

	<resultMap id="memberResultMap" type="com.greedy.bookshop.member.dto.MemberDTO">
		<id property="memberNo" column="USER_CODE"/>
		<result property="memberId" column="USER_ID"/>
		<result property="memberPwd" column="USER_PWD"/>
		<result property="name" column="USER_NAME"/>
		<result property="phone" column="USER_PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="enrollDate" column="CREATE_USER_DATE"/>
		<result property="memberStatus" column="USER_STATUS"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.greedy.bookshop.member.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="memberNo" column="REF_USER_CODE"/>
		<id property="authorityCode" column="REF_USER_ROLE_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
		<resultMap type="com.greedy.bookshop.member.dto.AuthorityDTO" id="authorityResultMap">
		<id property="code" column="REF_USER_ROLE_CODE2"/>
		<result property="name" column="ROLE_NAME"/>
		<result property="desc" column="ROLE_DESC"/>
	</resultMap>
	
	<select id="findByMemberId" resultMap="memberResultMap">
        SELECT
                A.USER_CODE
              , A.USER_ID
              , A.USER_PWD
              , A.USER_NAME
              , A.USER_PHONE
              , A.CREATE_USER_DATE
              , B.USER_CODE REF_USER_ROLE_CODE
              , C.USER_ROLE_CODE REF_USER_ROLE_CODE2
              , C.ROLE_NAME
              , C.ROLE_DESC
        FROM    TBL_USER A
        LEFT    JOIN TBL_USER_ROLE B ON (A.USER_CODE = B.USER_CODE)
        LEFT    JOIN TBL_AUTHORITY C ON (B.AUTHORITY_CODE = C.USER_ROLE_CODE)
        WHERE A.USER_ID = #{ username }
    </select>

    <select id="selectMemberById" resultType="string">
        SELECT
               USER_ID
          FROM TBL_USER 
         WHERE USER_STATUS = 'Y'
           AND USER_ID = #{ username }
    </select>

    <insert id="insertMember">
        INSERT
          INTO TBL_USER 
        (
          USER_CODE
        , USER_ID
        , USER_PWD
        , USER_NAME
        , USER_PHONE
        )
        VALUES
        (
          SEQ_USER_CODE.NEXTVAL
        , #{ username }
        , #{ password }
        , #{ name }
        , #{ phone }
        )
	</insert>
	
	<insert id="insertMemberRole">
		INSERT
          INTO TBL_USER_ROLE
        (
          USER_CODE
        , AUTHORITY_CODE
        )
        VALUES
        (
          SEQ_USER_CODE.CURRVAL
        , 1
        )
	</insert>

    <select id="selectEncryptedPwd" resultType="string">
        SELECT
               USER_PWD
          FROM TBL_USER
         WHERE USER_STATUS = 'Y'
           AND USER_ID = #{ username }
	</select>

	<select id="selectMember">
		SELECT
			   USER_CODE
		     , USER_ID
		     , USER_NAME
		     , USER_PHONE
		     , CREATE_USER_DATE
		     , USER_STATUS
		 FROM  TBL_USER A
		WHERE  USER_STATUS = 'Y'
		  AND  USER_ID = #{ username }
	</select>

    <update id="updateMember">
        UPDATE 
              TBL_USER 
          SET USER_NAME = #{ name }
            , USER_PHONE = #{ phone }
        WHERE USER_STATUS = 'Y'
          AND USER_CODE = #{ memberNo }
    </update>

    <update id="deleteMember">
        UPDATE 
              TBL_USER 
          SET USER_STATUS = 'N'
        WHERE USER_STATUS = 'Y'
          AND USER_ID = #{ username }
    </update>

</mapper>
