<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/center/nav.css">
    <link rel="stylesheet" href="/css/center/footer.css">
    <link rel="stylesheet" href="/css/center/gonzi.css">
    <title>nav</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Questrial&display=swap" rel="stylesheet">

</head>

<header>
    <div class="left">
        <a href="index.html">
            <div class="logo"><img src="/image/책장옆.png" alt="logo"></div>
        </a>
    </div>
    <div class="search">
        <input type="text" placeholder="찾고 싶은 책을 검색해 보세요!">
        <button class="search_img"><img src="/image/search.png"></button>
    </div>
    <div class="right">
        <nav>
            <ul>
                <li><a href="./garage.html">책 창고</a></li>
                <li><a href="./login.html">로그인</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div id="wrap">
        <section>
            <div class="all-contents">
                <!-- 사이드 바 -->
                <div class="gogak-sidebar">
                    <ul>
                        <li>
                            <h2>고객센터</h2>
                            <ul>
                                <li class="submenu">
                                    <a href="#">공지사항</a>
                                </li>
                                <li class="submenu">
                                    <a href="#">FAQ</a>
                                </li>
                                <li class="submenu">
                                    <a href="#">1:1 문의</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <div class="board_wrap">
                    <div class="board_title">
                        <p>공지사항</p>
                    </div>
                    <div class="board_view_wrap">
                        <div class="board_view"
                        	 th:each="notice : ${ noticeDetail }">
                            <div th:text="${ notice.noticeTitle }" class="title"></div>
                            <div class="info">
                                <dl>
                                    <dt>번호</dt>
                                    <dd th:text="${ notice.noticeCode }"></dd>
                                </dl>
                                <dl>
                                    <dt>글쓴이</dt>
                                    <dd th:text="${ notice.userName }"></dd>
                                </dl>
                                <dl>
                                    <dt>작성일</dt>
                                    <dd th:text="${#dates.format(notice.noticeDateCreate, 'YYYY-MM-dd')}"></dd>
                                </dl>
                                <dl>
                                    <dt>조회</dt>
                                    <dd th:text="${ notice.noticeHit}"></dd>
                                </dl>
                            </div>
                            <div th:text="${ notice.noticeContent }" class="cont"></div>
                        </div>
                        <div class="bt_wrap">
                            <a th:onclick="'location.href=\'/center/notice/list\''" class="on">목록</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>


    <footer>
        <div class="largeFooter">
            <div class="footer-notice">
                <div>
                    <span>공지사항</span>
                    <span>|</span>
                    <span>새로운 소식이 없어요.</span>
                    <a href="./notice.html">
                        <img src="../image/right.png" alt="더보기">
                    </a>
                </div>
            </div>
            <div class="footer-service">
                <div>
                    <span><a href="./service.html">고객센터</a></span>
                    <span>|</span>
                    <span>운영시간 [평일 09:00 - 18:00] 주말 및 공휴일은 1:1 문의를 이용해 주세요.</span>
                    <button type="button" onclick="location.href='./one.html'">1:1 문의하기</button>
                    <button type="button" onclick="location.href='./service.html'">FAQ</button>
                </div>
            </div>

            <div class="footer-copyright">
                <div>
                    <div class="footer-logo">
                        <img src="../image/책장옆.png">
                    </div>
                    <div class="footer-sns">
                        <div class="footer-sns1"><img src="/image/twitter.png"></div>
                        <div class="footer-sns2"><img src="/image/instagram.png"></div>
                        <div class="footer-sns3"><img src="/image/youtube.png"></div>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="footer-inform">
                <p>
                <details open>
                    <summary>사업자 정보 펼쳐보기</summary>
                    <p>서울 종로구 인사동길 12 대일빌딩 | 대표자 : 우별림 | 사업자등록번호 : 220-86-58115 | 기관명칭 : 책장옆 | 통신판매업신고 :
                        제2018-서울종로-0495호 | 기관등록번호 : 제2304호
                    </p>
                </details>
                </p>
                <div class="footer-copyright2">
                    <p>Copyright © 2023 책장옆 All Rights Reserved.</p>
                </div>
            </div>

        </div>
    </footer>

</body>

</html>