server:
  port: 8002

spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: C##BOOKSHOP
    password: BOOKSHOP
    
  servlet:
    multipart:
      enabled: true
      max-file-size: 128MB
      max-request-size: 128MB
      location: C:/Users/gangc/OneDrive/바탕 화면/subProject/bookshop

mybatis:
  mapper-locations: mappers/**/*.xml
  
# log level 
logging:
  level:
# root level - 전역 설정
    root: info
# package level - 지역 설정
    '[com.greedy.bookshop.main.member.service]': trace
