<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/책장옆 복사본.png">
    <link rel="stylesheet" th:href="/src/main/resources/static/css/common/footer.css">
    <link rel="stylesheet" th:href="/src/main/resources/static/css/common/nav.css">
    <link rel="stylesheet" th:href="/src/main/resources/static/css/common/main.css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <title>nav</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

</head>

<header>
    <div class="left">
        <a href="/">
        <div class="logo"><img src="/image/책장옆.png" alt="logo"></div>
        </a>
    </div>
    <div class="search">
        <input type="text" placeholder="찾고 싶은 책을 검색해 보세요!">
        <button class="search_img"><img src="/image/search.png"></button>
    </div>
    <div class="right">
        <nav>
            <ul>
                <li><a>책 창고</a></li>
                <li><a href="/html/login.html">로그인</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
	<form action="/main/main" method="post">
  <div class="slider">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">
    <input type="radio" name="slide" id="slide4">
    <ul id="imgholder" class="imgs">
        <li><img src="/src/main/resources/static/image/slide1.jpeg"></li>
        <li><img src="/src/main/resources/static/image/slide2.jpeg"></li>
        <li><img src="/src/main/resources/static/image/slide3.jpeg"></li>
        <li><img src="/src/main/resources/static/image/slide4.jpeg"></li>
    </ul>
    <div class="bullets">
        <label for="slide1">&nbsp;</label>
        <label for="slide2">&nbsp;</label>
        <label for="slide3">&nbsp;</label>
        <label for="slide4">&nbsp;</label>
    </div>
	</div>
	</form>



    <footer>
        <div class="largeFooter">
          <div class="footer-notice">
            <div>
              <span>공지사항</span>
              <span>|</span>
              <span>새로운 소식이 없어요.</span>
              <a>
                <img src="/image/right.png" alt="더보기">
              </a>
            </div>
          </div>
          <div class="footer-service">
            <div>
              <span><a>고객센터</a></span>
              <span>|</span>
              <span>운영시간 [평일 09:00 - 18:00] 주말 및 공휴일은 1:1 문의를 이용해 주세요.</span>
              <button type="button" onclick="location.href='./one.html'">1:1 문의하기</button>
              <button type="button" onclick="location.href='./service.html'">FAQ</button>
            </div>
          </div>
      
          <div class="footer-copyright">
            <div>
              <div class="footer-logo">
                <img src="/image/책장옆.png"></div>
              <div class="footer-sns">
                <div class="footer-sns1"><img src="/image/twitter.png"></div>
                <div class="footer-sns2"><img src="/image/instagram.png"></div>
                <div class="footer-sns3"><img src="/image/youtube.png"></div>
              </div>
            </div>
            <br>
          </div>
          <br>
          <div class="footer-inform">
            <p>
            <details open>
              <summary>사업자 정보 펼쳐보기</summary>
              <p>서울 종로구 인사동길 12 대일빌딩 | 대표자 : 우별림 | 사업자등록번호 : 220-86-58115 | 기관명칭 : 책장옆 | 통신판매업신고 : 제2018-서울종로-0495호 | 기관등록번호 : 제2304호
              </p>
            </details>
            </p>
            <div class="footer-copyright2">
              <p>Copyright © 2023 책장옆 All Rights Reserved.</p>
            </div>
          </div>
      
        </div>
      </footer>

</body>
</html>