<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/책장옆 복사본.png">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <title>로그인페이지</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    <script src="/js/event.js"></script>

    <script>
	    const message = '[[${message}]]';
		message && alert(message);
	</script>

    <style>
    html,
    body {
        height: 100%;
    }

    body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    </style>
</head>

<header>
    <a href="/main">Home</a>
    <span>> Log in</span>
</header>

<body>
    
    
    <div class="login_main">
        <form id="loginForm" action="/member/login" method="post">
        <img class="login_logo" src="/image/책장옆.png">
        <div class="login_container">
            <input type="text" name="username" placeholder="아이디를 입력하세요." id="id" class="account">
            <input type="password" name="password" placeholder="비밀번호를 입력하세요." id="password" class="account">
            <button id="login" class="account">로그인</button>
            <div class="login_check">
                <div class="links">
                    <a href="memberId">아이디 | </a>
                    <a href="memberPw">비밀번호 찾기</a>
                </div>
                <div class="boxes">
                    <input type="checkbox" id="checkbox" class="keepLogin" name="saveId">
                    <label class="keepLogin">아이디 저장</label>
                </div>
            </div>
        </div>
        </form>


        <div class="login_attention">
            <p>개인정보 보호를 위해 공용PC에서 사용 시 <br>
                SNS 계정의 로그아웃 상태를 확인해 주세요.</p>
        </div>
        <div class="login_join">
            <button name="regist" id="regist" class="account">회원가입</button>
        </div>
    </div>


    <!----footer---->
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 책장 옆  </small></p>
        </div>
    </footer>

</body>
</html>