<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/regist.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    <script defer src="../js/regist.js?ver=20230324-1"></script>
    <script defer src="../js/validator.js?ver=20230324-2"></script>
    
</head>
<body>
		<div th:replace="common/joinheader.html"></div>
		
        <div>

            <p style="font-size: 24px; text-align: center; margin-top: 70px;">회원 가입</p>

            <form action="/member/regist" method="post">
                <table style="margin: 0 auto">
                    <tr>
                        <td style="width: 120px">이메일 </td>
                        <td><input type="text" maxlength="13" name="memberId" id="memberId" required></td>
                        <td style="width: 100px"><input type="button" value="중복확인" id="duplicationCheck"></td>
                        <!-- <div class="success-message hide">사용하실 수 있는 이메일(아이디) 입니다.</div>
                        <div class="failure-message hide">사용하실 수 없는 이메일(아이디) 입니다.</div> -->
                    </tr>

                    <tr>
                        <td>비밀번호</td>
                        <td><input type="password" minlength="8" maxlength="16" name="memberPwd" id=memberPwd required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>비밀번호확인</td>
                        <td><input type="password" minlength="8" maxlength="16" name="memberPwd2" id=memberPwd2 required></td>
                        <td></td>
                    </tr>

                    <!-- <div class="miss-message hide">영문 대소문자, 숫자, 특수문자를 포함한 8~16자리 비밀번호를 입력해 주세요.</div>
                    <div class="mismatch-message hide">비밀번호 확인이 틀렸습니다.</div> -->

                    <tr>
                        <td>이름</td>
                        <td><input type="text" maxlength="5" name="nickname" required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>연락처 </td>
                        <td><input type="text" maxlength="11" name="phone" id="cellPhone" placeholder="10~11자리의 휴대전화 번호를 입력해 주세요."></td>
                        <td></td>
                    </tr>

                    <!-- <div class="miss-phone hide">중복된 전화 번호 입니다.</div> -->

                    <tr>
                        <td>이메일 </td>
                        <td><input type="email" name="email"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>우편번호</td>
                        <td><input type="text" name="zipCode" id="zipCode" readonly></td>
                        <td><input type="button" value="검색" id="searchZipCode"></td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td><input type="text" name="address1" id="address1" readonly></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>상세주소</td>
                        <td><input type="text" name="address2" id="address2"></td>
                        <td></td>
                    </tr>
                </table>
                <br>
                <div align="center">
                    <input type="submit" value="가입하기">
                </div>
            </form>
        </div>	
    
    <div th:replace="common/footer.html"></div>
    
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		
		const $searchZipCode = document.getElementById("searchZipCode");
		
		$searchZipCode.onclick = function() {
			
			/* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 인자로 전달한다. */
		    new daum.Postcode({
		        oncomplete: function(data) {
		            /* 팝업에서 검색결과 항목을 클릭 했을 시 실행할 코드를 작성하는 부분 */
		            document.getElementById("zipCode").value = data.zonecode;
		            document.getElementById("address1").value = data.address;
		            document.getElementById("address2").focus();
		        }
		    }).open();
		    
		};
	
	</script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</body>
</html>