<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.bookshop.admin.paydeli.model.dao.AdminOrderMapper">

	<resultMap id="orderResultMap" type="com.greedy.bookshop.admin.peydeli.model.dto.AdminOrderDTO">
		<id property="orderCode" column="ORDER_CODE"/>
		<result property="totalAmount" column="ORDER_TOTAL_AMOUNT"/>
		<result property="deliveryPrice" column="DELIVERY_PRICE"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="orderRecipient" column="ORDER_RECIPIENT"/>
		<result property="orderRecipientphone" column="ORDER_RECIPIENT_PHONE"/>
		<result property="destinationNickname" column="ORDER_DESTINATION_NICKNAME0"/>
		<result property="postalCode" column="ORDER_POSTAL_CODE"/>
		<result property="address" column="ORDER_ADDRESS"/>
		<result property="detailedAddress" column="ORDER_DETAILED_ADDRESS"/>
		<result property="orderMemo" column="ORDER_MEMO"/>
		<result property="userCode" column="USER_CODE"/>
	
	</resultMap>
	
		<resultMap id="orderMemberResultMap" type="com.greedy.bookshop.admin.peydeli.model.dto.AdminOrderDTO">
		<id property="code" column="USER_CODE"/>
		<result property="id" column="USER_ID"/>
		</resultMap>
		
	    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
    	SELECT
		  COUNT(*)
		  FROM TBL_ORDER A
		  JOIN TBL_USER B ON (A.USER_ROLE_CODE = B.USER_ROLE_CODE)
        <where>
            <if test="searchCondition == 'orderCode'">
                A.ORDER_CODE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'id'">
                B.USER_ID LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'orderStatus'">
                A.ORDER_STATUS LIKE '%' || #{ searchValue } || '%'
            </if>
            
        </where>
    </select>
    
        <select id="selectMemberList" resultMap="memberResultMap">
        SELECT 
        
                      A.USER_ID
                    , A.USER_NAME
			        , A.USER_PHONE
          FROM (SELECT 
                      ROWNUM RNUM
                     , B.USER_ID
                     , B.USER_NAME
			         , B.USER_PHONE
                  FROM ( SELECT 
                       C.USER_ID
                     , C.USER_NAME
			         , C.USER_PHONE
                  
                   FROM TBL_USER C
        <where>
            <if test="searchCondition == 'id'">
                C.USER_ID LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'name'">
                C.USER_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'phone'">
                C.USER_PHONE LIKE '%' || #{ searchValue } || '%'
            </if>
            AND C.USER_STATUS = 'Y'
        </where>
        ORDER BY C.USER_CODE ASC 
        ) B
        <![CDATA[
                  WHERE ROWNUM <= #{ endRow }]]>
         )A
         
        WHERE A.RNUM >= #{ startRow }
        ORDER BY 1 ASC
    </select>
    
            <select id="selectMemberDetail" parameterType="string" resultMap="memberResultMap">
        SELECT 
			  
			  A.USER_ID
			, A.USER_NAME
			, A.USER_NO
			, A.USER_PHONE
			, A.CREATE_USER_DATE
			, A.DELETE_USER_DATE
			, A.USER_STATUS
			, A.USER_ROLE_CODE
			, A.USER_RATING_CODE
        FROM TBL_USER A
        WHERE A.USER_STATUS = 'Y'
          AND A.USER_ID = #{ id }

    </select>
    
            <select id="selectMemberDetail2" parameterType="string" resultMap="memberResultMap">
        SELECT 
			  
			  A.USER_ID
			, A.USER_NAME
			, A.USER_NO
			, A.USER_PHONE
			, A.CREATE_USER_DATE
			, A.DELETE_USER_DATE
			, A.USER_STATUS
			, B.ROLE_DESC
			, C.USER_RATING_NAME
        FROM TBL_USER A
        JOIN TBL_USER_ROLE B ON (A.USER_ROLE_CODE = B.USER_ROLE_CODE)
        JOIN TBL_USER_RATING C ON (A.USER_RATING_CODE = C.USER_RATING_CODE)
        WHERE A.USER_STATUS = 'Y'
          AND A.USER_ID = #{ id }
    </select>
    
        <select id="selectMemberDetail3" parameterType="string" resultMap="memberResultMap">
        SELECT 
			  
			  A.USER_ID
			, A.USER_NAME
			, A.USER_NO
			, A.USER_PHONE
			, A.CREATE_USER_DATE
			, A.DELETE_USER_DATE
			, A.USER_STATUS
			, A.USER_ROLE_CODE
			, A.USER_RATING_CODE
			, B.DESTINATION_NICKNAME
			, B.RECIPIENT_PHONE
			, B.POSTAL_CODE
			, B.ADDRESS
			, B.DETAILED_ADDRESS
			, B.MEMO
        FROM TBL_USER A
        JOIN TBL_USER_DELIvERY B ON (A.USER_CODE = B.USER_CODE)
        WHERE A.USER_STATUS = 'Y'
          AND A.USER_ID = #{ id }
        ORDER BY B.DESTINATION_CODE
    </select>
    
<update id="updateMember" parameterType="com.greedy.bookshop.admin.member.model.dto.MemberDTO">
    UPDATE TBL_USER 
    SET 
        USER_NAME = #{name},
        USER_PHONE = #{phone},
        USER_RATING_CODE = #{gradecode},
        USER_ROLE_CODE = #{rolecode},
        USER_STATUS = #{status},
        DELETE_USER_DATE = CASE WHEN #{status} = 'N' THEN CURRENT_TIMESTAMP ELSE null END
    WHERE USER_ID = #{id}
</update>


   	
</mapper>