<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.bookshop.admin.product.model.dao.AdminProductMapper">

<resultMap id="bookResultMap" type="com.greedy.bookshop.admin.product.model.dto.BookDTO">
	<id property="bookCode" column="BOOK_CODE"/>
    <result property="bookName" column="BOOK_NAME"/>
    <result property="bookPrice" column="BOOK_PRICE"/>
    <result property="bookAuthor" column="BOOK_AUTHOR"/>
    <result property="bookPublisher" column="BOOK_PUBLISHER"/>
    <result property="categoryCode" column="CATEGORY_CODE"/>
    <result property="bookInventory" column="BOOK_INVENTORY"/>
    <result property="salesStatus" column="SALES_STATUS"/>
    <result property="bookHit" column="BOOK_HIT"/>
    <result property="bookIsbn" column="BOOK_ISBN"/>
    <result property="bookTranslator" column="BOOK_TRANSLATOR"/>
    <result property="bookIntroduction" column="BOOK_INTRODUCTION"/>
    <result property="bookDiscount" column="BOOK_DISCOUNT"/>
    <result property="bookTotalPrice" column="BOOK_TOTALPRICE"/>
</resultMap>

	<!-- 상품 등록 -->
	<insert id="bookEnroll">
  		INSERT INTO TBL_BOOK
  		(
  		BOOK_CODE,
  		BOOK_NAME, 
  		BOOK_PRICE, 
  		BOOK_AUTHOR, 
  		BOOK_PUBLISHER, 
  		CATEGORY_CODE, 
  		BOOK_INVENTORY, 
  		SALES_STATUS, 
  		BOOK_HIT, 
  		BOOK_ISBN, 
  		BOOK_TRANSLATOR, 
  		BOOK_INTRODUCTION,
  		BOOK_DISCOUNT,
  		BOOK_TOTALPRICE
  		)
		VALUES
		(
		SEQ_BOOK_CODE.NEXTVAL,
		#{bookName}, 
		#{bookPrice}, 
		#{bookAuthor}, 
		#{bookPublisher}, 
		#{categoryCode}, 
		#{bookInventory}, 
		#{salesStatus},
		#{bookHit},
		#{bookIsbn},
		#{bookTranslator}, 
		#{bookIntroduction},
		#{bookDiscount},
		#{bookTotalPrice}
		)

  	</insert>
	
   	<!-- 상품 조회 -->
 	<select id="getBookList" resultMap="bookResultMap">
    SELECT *
    FROM TBL_BOOK
    <where>
    	<if test="bookCode != null">
    	BOOK_CODE = #{ bookCode }
    	</if>
    	<if test="bookName != null">
    	AND BOOK_NAME LIKE '%' || #{ bookName } || '%'
    	</if>
    	<if test="bookAuthor != null">
    	AND BOOK_AUTHOR LIKE '%' || #{ bookAuthor } || '%'
    	</if>
    	<if test="subCategory != null">
    	AND CATEGORY_CODE = #{ subCategory }
    	</if>
    </where>
    ORDER BY BOOK_CODE DESC
    
 	</select>

</mapper>