<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>상세 책 정보</title>
    <link rel="stylesheet" type="text/css" href="/css/sales/bookDerails.css">
    <script>
        const m = '[[${message}]]';
        m && alert(m);
    </script>
</head>
<body>
<header>
    <div class="nav" th:replace="/common/nav.html"></div>
</header>
<div class="product-detail">
    <div class="product-detail-image" th:each="f : ${file}" th:if="${f.fileType} == 'TITLE'">
        <img th:src="${f.fileMainPath}" alt="책 이미지"/>
    </div>
    <div class="product-detail-info" th:value="${book.bookCode}">
        <h2 th:text="${book.bookName}"></h2>
        <p th:text="저자 + ' : ' + ${book.bookAuthor}">저자: 히가시노 게이고</p>
        <th:block th:if="${book.bookDiscount < 0}">
            <p th:text="${book.bookPrice} + 원"></p>
        </th:block>
        <th:block th:if="${book.bookDiscount} > 0">
            <p th:text="${book.bookPrice} + 원"></p>
        <p th:text="${book.bookDiscount} + %"></p>
        <p th:text="결제 금액 + ${book.bookTotalPrice} + 원"></p>
        </th:block>
        <p th:text="재고 + ' : ' + ${book.bookInventory} + 권"></p>
        <div class="button-container">
            <button class="Like-to-cart">찜하기</button>
            <button id="add-to-cart">장바구니 담기</button>
            <button id="buy-now">구매하기</button>
        </div>
        <script>
            document.getElementById("add-to-cart").addEventListener("click", function ()
            {
                let b = '[[${book.bookCode}]]';
                fetch("/sale/regist",{
                        method : 'POST',
                        headers : {
                            'Content-Type' : 'application/json;charset=UTF-8'
                        },
                        body : JSON.stringify
                        ({
                            bookCode : b
                        })
                    })
                    .then(date => {
                        alert("장바구니 이동 완료");
                    })
                    .catch(error => console.log(error))
            })
            document.getElementById("buy-now").addEventListener("click",function (){
                    let b = '[[${book.bookCode}]]';
                    fetch("/sale/buy",{
                            method : 'POST',
                            headers : {
                                'Content-Type' : 'application/json;charset=UTF-8'
                            },
                            body : JSON.stringify
                            ({
                                bookCode : b
                            })
                        })
                        .then(date =>
                        {
                            alert(date);
                        })
                        .then(respose =>
                        {
                            window.location.href = "/pay/payment";
                        })
                        .catch(error => console.log(error))

                })
        </script>
    </div>
    <div class="SubImage">
        <th:block th:each="f :${file}" th:if="${f.fileType} == 'SUB'">
            <img th:src="${f.fileMainPath}"/>
        </th:block>
    </div>
    <div class="product-detail-description">
        <h3>책 소개</h3>
        <p th:text="${book.bookInteoduction}"></p>
        <h3>출판사 정보</h3>
        <ul>
            <li th:text="출판사 + ' : ' + ${book.bookPublisher}"></li>
            <li th:text="ISBN +  ' : ' + ${book.bookISBN}"></li>
        </ul>
    </div>
</div>
<script src="/js/sales/bookDetails.js"></script>
</body>
<footer class="footer">
    <div th:replace="/common/footer.html"></div>
</footer>
</html>
