<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/cart/cart.css">
</head>
<body>
<header>
    <div th:replace="/common/nav.html"></div>
</header>
<main>
    <div class="container">
        <div class="cart-container">
            <h2>장바구니</h2>
            <div class="nav-container">
                <ul>
                    <li>
                        <input type="checkbox" id="select-all-checkbox">
                        <label for="select-all-checkbox">전체 선택</label>
                        <button id="delete-selected-btn">삭제</button>
                    </li>
                </ul>
            </div>
            <th:block th:each="cart,stat : ${cart}" th:if="${user.userCode} != null and ${cart.cartCode} > 0">
            <div class="cart-item" >
                <div class="item-checkbox">
                    <p th:text="${cart.cartCode}" class="item-code"></p><input type="checkbox" class="product-checkbox">
                </div>
                <div class="item-info" th:if="${file.get(stat.index).getFileType()} == 'TITLE'">
                    <img th:src="${file.get(stat.index).getFileMainPath()}" alt="도서1" width="50" height="50">
                    <p th:text="${book.get(stat.index).getBookName()}"></p>
                </div>
                <div class="item-price">
                    <p th:text="${book.get(stat.index).getBookPrice()} + 원"></p>
                </div>
                <div class="item-discount" th:if="${book.get(stat.index).getBookDiscount()} > 0">
                    <p th:text="${book.get(stat.index).getBookDiscount()} + '%'"></p>
                </div>
                <div class="item-total">
                    <p th:text="${book.get(stat.index).getBookTotalPrice()} + 원"></p>
                </div>
                <div class="item-quantity">
                    <input type="number" min="1" th:value="${cart.BookQuantity}" class="product-quantity">
                </div>
            </div>
            </th:block>
            <th:block th:if="${user.userCode} == null or ${cart.get(0).getCartCode} == null">
                <div class="cart-item">
                    <img src="/image/icon/youtube.png">
                    <p align="ceter">등록 된 상품이 없습니다.</p>
                </div>
            </th:block>
        </div>
        <div class="cart-summary">
            <div class="card">
                <div class="card-header">
                    총 금액
                </div>
                <div class="card-body">
                    <p>총 상품 금액: <span id="total-price">0</span>원</p>
                    <p>배송비: <span id="delivery -price">3000</span>원</p>
                    <p>할인된 가격 : <span id="discount-price">0</span>원</p>
                    <p>총 결제 금액: <span id="total-amount">0</span>원</p>
                    <button id="checkout-btn">결제하기</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/sales/basket.js"></script>
</body>
<footer>
    <div th:replace="/common/footer.html"></div>
</footer>
</html>
