@charset "UTF-8";

@import url("/css/admin/adminCommon.css");


.searchform{

	margin-top: 50px;
	margin-left: 600px;
}


#searchCondition {
	padding:10px;
	background-image: url("/css/image/dropdown.svg");
    background-size: 10px;
    background-position: 90% 5px;
	
}

/* x 이미지 보류
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    -webkit-appearance: none;
    width: 20px; height: 20px; background: url(/css/image/circle-xmark-regular.svg) center center no-repeat;
    margin: 5px;
    cursor: pointer;
}  */

.search {
	height: 30px;
    width: 200px;
	background-color: #D0D0D0;
}

.sb {
	width: 70px;
    height: 36px;
    margin-left: 20px;
    background-color: #AACB73;
    border-radius: 20px;
    color: #fff;
	
}


table {

  margin-left:400px;
  margin-top: 50px;
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 50%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

th {
  text-align: center;
}
  
thead {
  font-weight: bold;
  color: black;
  border-bottom:2px solid black;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}



 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}


#paging {
	
	padding-top: 50px;
}

/*---회원 상세 정보---*/

/* 목차 */
.subtitle {
    display: flex;
    margin-top: 55px;
    margin-left: 30%;
    width: 130px;
    justify-content: space-between;
    font-weight: bolder;   
}

.fa-stop {
    color: #AACB73;
    margin-left:10px;
}

.subtitle_line {
    width: 700px;
    height: 3px;
    background-color: black;
    margin-left:30%;
    margin-top: 15px;
}


.container  {
	
	width:700px;
	margin-left: 40%;
    margin-top: 20px;
	margin-bottom : 20px;
}


p {
	padding-left:20px;
	padding-top:5px;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	height:30px;
	background-color:#D0D0D0;
	width: 300px;
}

label {
	
	margin:10px;
}

.row_btn {
	width: 70px;
    height: 36px;
    margin-left: 50px;
    margin-top:20px;
    background-color: #AACB73;
    border-radius: 20px;
    color: #fff;
	
}

/*---회원 정보 수정 ---*/

.container2 {
	
	width:700px;
	margin-left: 35%;
    margin-top: 20px;
	margin-bottom : 20px;
}

.my-3 label {
	width:100px;
	text-align:center;
	display:inline-block;
}


.my-3 input {
	
	width:310px;
	background-color:#D0D0D0;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	padding-top:5px;
	margin-bottom:10px;
	height:30px;

}

.my-3 select {
		width:310px;
	background-color:#D0D0D0;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	padding-top:5px;
	margin-bottom:10px;
	height:30px;
	cursor: pointer;
	
	
}

.row_btn2 {
	width: 70px;
    height: 36px;
    margin-left: 120px;
    margin-top:50px;
    background-color: #AACB73;
    border-radius: 20px;
    color: #fff;
	
}

