<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/책장옆 복사본.png">
    <link rel="stylesheet" type="text/css" href="/css/admin/member.css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d2714aa12c.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/admin/member.js"></script>
   
     
    <title>책장 옆</title>

 </head>
    <header class="page-header">
        <a href="">
            <img class="nav_logo" src="/image/책장옆.png" alt="HOME">
        </a>
        <!-- 버튼으로 해야 할지? -->
        <nav>
            <ul class="main-nav">
                <li><a href="/main" onclick="return confirm('메인페이지로 이동하여 로그아웃하세요.')">로그아웃</a></li>
            </ul>
        </nav>
    </header>

    <!-- 사이드 바 -->
    
    <aside>
        <ul class="sub-menu">
            <li><a class="active" href="/adminmember/list">&nbsp;&nbsp;&nbsp;회원 관리&nbsp;&nbsp;&nbsp;</a></li>
            <li><a href="/product/list">&nbsp;&nbsp;&nbsp;상품 관리&nbsp;&nbsp;&nbsp;</a></li>
            <li><a href= "/order/list">주문/배송 관리</a></li>
            <li><a href="/center/notice">&nbsp;&nbsp;&nbsp;고객 센터&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
    </aside>

    <!-- 상단이동버튼 -->
    <img class="topbtn" src="/image/topbtn.svg" onclick="scrollToTop();"></img> 

    <div class="subtitle">
        <i class="fa-solid fa-stop"></i>
      <a>회원 정보 수정</a>
    </div>
    
    <hr class="subtitle_line"/>


<!--상부 컨테이너-->
<!--상부 컨테이너-->
<div class="container2">

    <!-- 상품 상세 내용-->
    <div class="text-center">
        <form th:object="${member}" th:action="@{/member/edit}" method="post">
            <div class="my-3">
                <label form="id">회원ID</label>
                <input type="text" style="color: #9e9e9e" id="id" name="id" th:field="*{id}"/>
            </div>

            <div class="my-3">
                <label form="userName">이름</label>
                <input type="text" id="userName" name="userName"  th:field="*{name}"/>
            </div>
            <div class="my-3">
                <label form="userNo">생년월일</label>
                <input style="color: #9e9e9e" type="text" id="userNo" name="userNo" th:field="*{no}"/>
            </div>
              <div class="my-3">
                <label form="userPhone">연락처</label>
               <input type="text" id="userPhone" name="userPhone" th:field="*{phone}"/>

            </div>
            
            <!-- 보류
            <div class="my-3">
                <label form="quantity">계정생성일</label>
                <input style="color: #9e9e9e" type="text" id="quantity" name="quantity" th:text="${member.createUserDate}">
            </div>
            <div class="my-3">
                <label form="quantity">계정삭제일</label>
                <input type="text" id="quantity" name="quantity" th:text="${member.deleteUserDate}">
            </div> -->

            <div class="my-3">
                <label form="userGrade">회원등급</label>
                <select  id="userGrade" name="userGrade" th:field="*{gradecode}">
  					<option value="1">1</option>
 				    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
              
            </div>
            <div class="my-3">
                <label form="userRole">회원권한</label>
                 <select  id="userRole" name="userRole" th:field="*{rolecode}">
  					<option value="1">1</option>
 				    <option value="2">2</option>
                </select>
            </div>
            <div class="my-3">
                <label form="userStatus">회원상태</label>
                 <select  id="userStatus" name="userStatus" th:field="*{status}">
  					<option value="Y">Y</option>
 				    <option value="N">N</option>
                </select>
                
            <div class="my-3">
                <label form="quantity">임시</label>
                <input style="color: #9e9e9e" type="text" id="quantity" name="quantity" th:field="*{no}"/>
            </div>

    		<div class="row">
    		   <button class="row_btn2"
                    th:onclick="|location.href='@{/member/list}'|"
                    type="button">목록</button>
                   
                  <button class="row_btn" type="submit" id="updateMember" onclick="return confirm('수정 사항을 저장하시겠습니까?')">저장</button>
    		</div>
    		
    
        </form>
    </div>
</div><!--/상부 컨테이너-->


</body>
</html>