<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/책장옆 복사본.png">
    <link rel="stylesheet" type="text/css" href="/css/admin/member.css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
	<script type="text/javascript" src="/js/admin/member.js"></script>

    
    <title>책장 옆</title>

 </head>
 <body>
        <header class="page-header">
            <a href="">
                <img class="nav_logo" src="../image/책장옆.png" alt="HOME">
            </a>
            <nav>
                <ul class="main-nav">
                    <li><a href="/main" onclick="return confirm('메인페이지로 이동하여 로그아웃하세요.')">로그아웃</a></li>
                </ul>
            </nav>
        </header>

        <!-- 사이드 바 -->
        
        <aside>
            <ul class="sub-menu">  
                <li><a class="active" href="/member/list"> &nbsp;&nbsp;&nbsp;회원 관리&nbsp;&nbsp;&nbsp;</a></li>
                <li><a class="clickmenu" href="/product/list">&nbsp;&nbsp;&nbsp;상품 관리&nbsp;&nbsp;&nbsp;</a></li>
                <li><a class="paydelimenu" href="/order/list">주문/배송 관리</a></li>
                <li><a class="csmenu" href="/center/notice">&nbsp;&nbsp;&nbsp;고객 센터&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
        </aside>
    
  
        
        <!-- 상단이동버튼 -->
        <img class="topbtn" src="../image/topbtn.svg" onclick="scrollToTop();"></img>   
            
        <!-- 회원 조건 검색-->
        	<div class=searchform>
        	<form id="searchForm" action="/member/list" method="get"
			style="display: inline-block">
			<select id="searchCondition" name="searchCondition">
				<option value="id"
					th:selected="${ paging.searchCondition eq 'id'}">ID</option>
				<option value="name"
					th:selected="${ paging.searchCondition eq 'name'}">이름</option>
				<option value="phone"
					th:selected="${ paging.searchCondition eq 'phone'}">연락처</option>
			</select> <input class="search" type="search" id="searchValue" name="searchValue" placeholder="검색어를 입력하세요."
				th:value="${ paging.searchValue }">
			<button class="sb" type="submit">조회</button>
		  </form>
       </div>
       
 <!-- 목록 테이블 -->
 <div class="table">
 <table id="rwd-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>이름</th>
      <th>연락처</th>
    </tr>
  </thead>

  <tbody>
  		<tr th:each="member : ${ memberList }"
  			th:onclick="|location.href='@{detail(id=${member.id})}'|">
  			<td th:text="${ member.id }"></td>
			<td th:text="${ member.name }"></td>
			<td th:text="${ member.phone }"></td>
		</tr>
  </tbody>

</table>
</div>

	<!-- 페이징 바 -->
	<div id="paging" align="center" style="margin-top: 20px;">

		<th:block
			th:if="${ paging.searchCondition != null and paging.searchValue != null }">
			<!-- 맨 앞으로 이동 -->
			<button
				th:onclick="'location.href=\'/member/list?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>

			<!-- 이전 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/member/list?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
				th:disabled="${ paging.page <= 1 }">&lt;</button>

			<!-- 숫자 버튼 -->
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/member/list?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
					th:text="${ page }" th:disabled="${ paging.page eq page }">
				</button>
			</th:block>

			<!-- 다음 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/member/list?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''"
				th:disabled="${ paging.page >= paging.maxPage }">></button>

			<!-- 맨 끝으로 이동 -->
			<button
				th:onclick="'location.href=\'/member/list?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''">>></button>

		</th:block>

		<th:block
			th:if="${ paging.searchCondition == null || paging.searchCondition.isEmpty() || paging.searchValue == null || paging.searchValue.isEmpty()}">
			<!-- 맨 앞으로 이동 -->
			<button th:onclick="'location.href=\'/member/list?page=1\''">&lt;&lt;</button>

			<!-- 이전 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/member/list?page=' + @{${paging.page - 1}} + '\''"
				th:disabled="${ paging.page <= 1 }">&lt;</button>

			<!-- 숫자 버튼 -->
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/member/list?page=' + @{${page}} + '\''"
					th:text="${ page }" th:disabled="${ paging.page eq page }">
				</button>
			</th:block>

			<!-- 다음 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/member/list?page=' + @{${paging.page + 1}} + '\''"
				th:disabled="${ paging.page >= paging.maxPage }">></button>

			<!-- 맨 끝으로 이동 -->
			<button
				th:onclick="'location.href=\'/member/list?page=' + @{${paging.maxPage}} + '\''">>></button>
		</th:block>

	</div>

 
    </body>
   
</html>