<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/책장옆 복사본.png">
    <link href="/css/admin/product.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/d2714aa12c.js" crossorigin="anonymous"></script>
    <script src="/js/admin/product.js" async> </script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    
    <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	
	<!-- jQuery UI -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	  
    <title>책장 옆</title>

</head>
<body>
    
    <header class="page_header wrapper">
        <a href="">
            <img class="nav_logo" src="/image/책장옆.png" alt="HOME">
        </a>
        <!-- 버튼으로 해야 할지? -->
        <nav>
            <ul class="main_nav">
                <li><a href="/main" onclick="return confirm('메인페이지로 이동하여 로그아웃하세요.')">로그아웃</a></li>
            </ul>
        </nav>
    </header>

    <!-- 사이드 바 -->
    
    <aside>
        <table class="sub_menu">
            <td>
                <li><a class="" href="/adminmember/list">&nbsp;&nbsp;&nbsp;회원 관리&nbsp;&nbsp;&nbsp;</a></li>
                <li><a class="product_management">&nbsp;&nbsp;&nbsp;상품 관리&nbsp;&nbsp;&nbsp;</a></li>
                <li><a class="" href="/order/list">주문/배송 관리</a></li>
                <li><a class="" href="../../center/notice">&nbsp;&nbsp;&nbsp;고객 센터&nbsp;&nbsp;&nbsp;</a></li>
            </td>
        </table>
    </aside>

    <!-- 탑 메뉴 -->
    <table class="top_menu">
        <tr>
            <th><a class="current_page">상품 조회/수정</a></th>
            <th><a href="../../product/regist">&nbsp;&nbsp;&nbsp;상품 등록&nbsp;&nbsp;&nbsp;</a></th>
        </tr>
    </table>

    <!-- 상단이동버튼 -->
    <img class="topbtn" src="/image/topbtn.svg" onclick="scrollToTop();"></img>   

    
    <form class="product_info" action="/product/list" method="GET">
        <div class="div_width_top">
            <label class="label_title">검색어</label><br>
            <div>
            	<label class="label_title">상품번호</label>
                <input type="text" id="code" name="bookCode" class="longinfo">
                <span></span>
      		</div>
            <div>
            	<label class="label_title">상품명</label>
                <input type="text" id="name" name="bookName" class="longinfo">
                <span></span>
      		</div>
      		<div>
            	<label class="label_title">작가명</label>
                <input type="text" id="author" name="bookAuthor" class="longinfo">
                <span></span>
      		</div>
        </div>
            
            <br>
        <div class="div_width">
            <label class="label_title">판매상태</label>
            <label>
                <input type="checkbox" name="salesStatus" id="salesStatus" class="checkboxinfo" value="">
                전체
                <span></span>
            </label>
            <label>
                <input type="checkbox" name="salesStatus" id="salesStatus" class="checkboxinfo" value="Y">
                판매중
                <span></span>
            </label>
            <label>
                <input type="checkbox" name="salesStatus" id="salesStatus" class="checkboxinfo" value="N">
                판매중지
                <span></span>
            </label>
        </div>
        
        <!-- 전체 체크 -->
        <script>
        
	        $(document).ready(function() {
	        	  $('#salesStatus').click(function() {
	        	    var isChecked = $(this).prop('checked');
	        	    $('input[type="checkbox"].checkboxinfo').prop('checked', isChecked);
	        	  });
	        	});
        
        </script>

        <br>
        
        <div class="div_width">
            
             <label class="label_title">카테고리</label>
            
            <label>
			  <select name="largeCategory" class="large_select" id="category">
			    <option value="">대분류</option>
			    <option value="1">국내</option>
			    <option value="2">외국</option>
			  </select>
			</label>
			
			<label>
			  <select name="subCategory" class="sub_select" id="categoryCode">
				<option value="">소분류</option>
			    <option value="3">소설</option>
			    <option value="5">자기개발</option>
			    <option value="7">시/에세이</option>
			    <option value="9">인문/사회</option>
			    <option value="11">경제/경영</option>
			    <option value="13">컴퓨터/IT</option>
			    <option value="15">만화</option>
			  </select>
			</label>
			
			<script>
			  const categorySelect = document.querySelector('#category');
			  const categoryCodeSelect = document.querySelector('#categoryCode');
			
			  categorySelect.addEventListener('change', () => {
			    // '국내'가 선택되었을 경우
			    if (categorySelect.value === '1') {
			      categoryCodeSelect.innerHTML = `
			        <option value="3">소설</option>
			        <option value="5">자기개발</option>
			        <option value="7">시/에세이</option>
			        <option value="9">인문/사회</option>
			        <option value="11">경제/경영</option>
			        <option value="13">컴퓨터/IT</option>
			        <option value="15">만화</option>
			      `;
			    }
			    // '외국'이 선택되었을 경우
			    else if (categorySelect.value === '2') {
			      categoryCodeSelect.innerHTML = `
			        <option value="4">소설</option>
			        <option value="6">자기개발</option>
			        <option value="8">시/에세이</option>
			        <option value="10">인문/사회</option>
			        <option value="12">경제/경영</option>
			        <option value="14">컴퓨터/IT</option>
			        <option value="16">만화</option>
			      `;
			    }
				// '대분류'가 선택되었을 경우
  			    else {
			      categoryCodeSelect.innerHTML = `
			        <option value="">소분류</option>
			      `;
			    }
			  });
			</script>
            
        </div>

            <br>
            
        <div class="info_btn">
             <button id="selectBtn" class="btn_1">검색</button>
        </div>
        
        <br>
        
        <div class="div_width">
        	 <label class="label_title">상품목록</label>
        	 <div class="" id="result">
        	 <table>
			  <thead>
			    <tr>
			      <th class="list_title">상품명</th>
			      <th class="list_title">출판사</th>
			      <th class="list_title">작가명</th>
			      <th class="list_title">번역자명</th>
			      <th class="list_title">원가</th>
			      <th class="list_title">할인가</th>
			      <th class="list_title">최종가격</th>
			      <th class="list_title">재고</th>
			      <th class="list_title">ISBN</th>
			      <th class="list_title">카테고리</th>
			    </tr>
			  </thead>
			  <tbody>
			    
			    <tr th:each="book : ${ bookSearchList }">
			    	<td class="label_name" th:text="${ book.bookName }"></td>
			    	<td class="label_pat" th:text="${ book.bookPublisher }"></td>
			    	<td class="label_pat" th:text="${ book.bookAuthor }"></td>
			    	<td class="label_pat" th:text="${ book.bookTranslator }"></td>
			    	<td class="label_price" th:text="${ book.bookPrice }"></td>
			    	<td class="label_price" th:text="${ book.bookDiscount }"></td>
			    	<td class="label_price" th:text="${ book.bookTotalPrice }"></td>
			    	<td class="label_price" th:text="${ book.bookInventory }"></td>
			    	<td class="label_price" th:text="${ book.bookIsbn }"></td>
			    	<td class="label_price" th:text="${ book.categoryCode }"></td>
			    </tr>
			    
			  </tbody>
			 </table>
        	 </div>
        </div>
        
        <!-- 조회 결과를 보여주는 테이블 -->

		<!-- 수정을 위한 입력 필드 -->
<!-- 		<div class="info_btn">
		  <input type="number" id="code" name="code" placeholder="상품번호" readonly>
		  <input type="text" id="name" name="name" placeholder="상품명">
		  <input type="number" id="price" name="price" placeholder="가격">
		  <input type="text" id="author" name="author" placeholder="작가명">
		  <input type="number" id="inventory" name="inventory" placeholder="재고">
		  <input type="text" id="categoryCode" name="categoryCode" placeholder="카테고리">
		  <button id="updateBtn" class="btn_1">수정항목저장</button>
		</div> -->
		
<!-- 		<script>

			if (productForm) {
				  productForm.addEventListener("submit", function(event) {
				    event.preventDefault(); // 기본 동작 방지
				    var name = document.querySelector("input[name='name']").value;
				    var price = document.querySelector("input[name='price']").value;
				    var author = document.querySelector("input[name='author']").value;
				    var inventory = document.querySelector("input[name='inventory']").value;
				    var salesStatus = document.querySelector("input[name='salesStatus']").value;
				    var categoryCode = document.querySelector("input[name='categoryCode']").value;

				    $.ajax({
				      type: "POST",
				      url: "/admin/product/list",
				      data: {
				        name: name,
				        price: price,
				        author: author,
				        inventory: inventory,
				        salesStatus: salesStatus,
				        categoryCode: categoryCode
				      },
				      success: function(data) {
				        alert("상품이 수정되었습니다.");
				      },
				      error: function() {
				        alert("상품 수정에 실패했습니다.");
				      }
				    });
				  });
				}
		</script> -->
        
        <br>

     </form>
     <br><br><br><br><br><br><br><br><br><br>
 

   </body>
</html>


