<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/책장옆 복사본.png">
    <link href="/css/admin/product.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/d2714aa12c.js" crossorigin="anonymous"></script>
    <script src="/js/admin/product.js" async> </script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    
    <title>책장 옆</title>

</head>
<body>
    
        <header class="page_header wrapper">
            <a href="">
                <img class="nav_logo" src="/image/책장옆.png" alt="HOME">
            </a>
            <!-- 버튼으로 해야 할지? -->
            <nav>
                <ul class="main_nav">
                    <li><a href="">로그아웃</a></li>
                </ul>
            </nav>
        </header>

        <!-- 사이드 바 -->
        
        <aside>
            <table class="sub_menu">
                <td>
                    <li><a class="" href="#">&nbsp;&nbsp;&nbsp;회원 관리&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a class="" href="../../product/list">&nbsp;&nbsp;&nbsp;상품 관리&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a class="" href="#">주문/배송 관리</a></li>
                    <li><a class="customer_center" href="../../center/notice">&nbsp;&nbsp;&nbsp;고객 센터&nbsp;&nbsp;&nbsp;</a></li>
                </td>
            </table>
        </aside>

        <!-- 탑 메뉴 -->
        <table class="top_menu3">
            <tr>
                <th><a href="../../center/notice">&nbsp;&nbsp;&nbsp;공지사항&nbsp;&nbsp;&nbsp;</a></th>
                <th><a class="current_page">자주 묻는 질문</a></th>
                <th><a href="">&nbsp;&nbsp;&nbsp;1:1 문의&nbsp;&nbsp;&nbsp;</a></th>
            </tr>
        </table>

        <!-- 상단이동버튼 -->
        <img class="topbtn" src="/image/topbtn.svg" onclick="scrollToTop();"></img>

        <details>
            <summary class="summary_title">[카테고리-배송]배송비는 얼마인가요?</summary>
            <ul>
                <li>20,000원 미만 구매 시 2,000원, 20,000원 이상 구매 시 배송비는 무료입니다.</li>
                <li>도서산간 지역은 4,000원, 제주 지역은 6,000원의 추가 비용비 부과됩니다.</li>
            </ul>
        </details>        <details>
            <summary>[카테고리-배송]배송 주소지를 변경할 수 있나요?</summary>
            <ul>
                <li>주문완료 후 직접 변경은 불가능하므로 고객센터(1544-xxxx) 또는 1:1 문의로 요청하셔야 합니다.</li>
            </ul>
        </details>
        <details>
            <summary>[카테고리-환불]파본/훼손된 도서 어떻게 해야 하나요?</summary>
            <ul>
                <li>온라인 주문도서 파본/훼손은 고객센터(1544-xxxx) 또는 1:1 문의를 통해 접수 가능합니다.</li>
                <li>파본/훼손 내용 확인 후 회수 진행되며, 배송비용은 책장옆에서 부담합니다.</li>
            </ul>
        </details>
        <details>
            <summary>[카테고리-환불]취소, 반품시 사용한 적립금은 어떻게 되나요?</summary>
            <ul>
                <li>주문취소시 사용된 적립금은 재 적립해 드립니다.</li>
            </ul>
        </details>
        <details>
            <summary>[카테고리-환불]반품/교환이 불가능한 도서도 있나요?</summary>
            <ul>
                <li>도서는 다른 상품과 그 속에 담겨있는 정보에 가치가 있기 때문에 단기간에 필독이 가능한 도서는 교환 혹은 환불이 불가능합니다.</li>
                <li>- 환불 불가능 도서 : 문제지, 수험서, 만화, 시집, 요리책, 지도, 잡지, 사진집, 여행관련 도서 등</li>
            </ul>
        </details>

        <div class="board_page">
            <a href="#" class="bt first"><<</a>
            <a href="#" class="bt prev"><</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">5</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
        </div>
        <div class="bt_wrap">
            <a href="../../center/faq/regist" class="on">등록</a>
            <!--<a href="#">수정</a>-->
        </div>













</body>
</html>
    