<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/책장옆 복사본.png">
    <link href="/css/admin/product.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/d2714aa12c.js" crossorigin="anonymous"></script>
    <script src="/js/admin/product.js" async> </script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    
    <title>책장 옆</title>

</head>
<body>
    
        <header class="page_header wrapper">
            <a href="">
                <img class="nav_logo" src="/image/책장옆.png" alt="HOME">
            </a>
            <!-- 버튼으로 해야 할지? -->
            <nav>
                <ul class="main_nav">
                    <li><a href="">로그아웃</a></li>
                </ul>
            </nav>
        </header>

        <!-- 사이드 바 -->
        
        <aside>
            <table class="sub_menu">
                <td>
                    <li><a class="" href="/member/list">&nbsp;&nbsp;&nbsp;회원 관리&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a class="" href="Product_select_update.html">&nbsp;&nbsp;&nbsp;상품 관리&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a class="" href="/order/list">주문/배송 관리</a></li>
                    <li><a class="customer_center" href="../../center/notice">&nbsp;&nbsp;&nbsp;고객 센터&nbsp;&nbsp;&nbsp;</a></li>
                </td>
            </table>
        </aside>

        <!-- 탑 메뉴 -->
        <table class="top_menu3">
            <tr>
                <th><a href="../../center/notice">&nbsp;&nbsp;&nbsp;공지사항&nbsp;&nbsp;&nbsp;</a></th>
                <th><a class="current_page" href="../../center/faq">자주 묻는 질문</a></th>
                <th><a href="/center/inquiry">&nbsp;&nbsp;&nbsp;1:1 문의&nbsp;&nbsp;&nbsp;</a></th>
            </tr>
        </table>

        <!-- 상단이동버튼 -->
        <img class="topbtn" src="/image/topbtn.svg" onclick="scrollToTop();"></img>

        <div class="board_wrap">
            <div class="board_title">
            </div>
            <div class="board_write_wrap">
                <div class="board_write">
                    <div class="title">
                        <dl>
                            <dt>제목</dt>
                            <dd><input type="text" placeholder="제목 입력"></dd>
                        </dl>
                    </div>
                    <div class="info">
                    </div>
                    <div class="cont">
                        <textarea placeholder="내용 입력"></textarea>
                    </div>
                </div>
                <div class="bt_wrap">
                    <a href="#" class="on">등록</a>
                    <a href="../../center/faq">취소</a>
                </div>
            </div>
        </div>


</body>
</html>
