<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/image/책장옆 복사본.png">
    <link href="/css/admin/product.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/d2714aa12c.js" crossorigin="anonymous"></script>
    <script src="/js/admin/product.js" async> </script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    
    <title>책장 옆</title>

</head>
<body>
    
        <header class="page_header wrapper">
            <a href="">
                <img class="nav_logo" src="/image/책장옆.png" alt="HOME">
            </a>
            <!-- 버튼으로 해야 할지? -->
            <nav>
                <ul class="main_nav">
                    <li><a href="/main" onclick="return confirm('메인페이지로 이동하여 로그아웃하세요.')">로그아웃</a></li>
                </ul>
            </nav>
        </header>

        <!-- 사이드 바 -->
        
        <aside>
            <table class="sub_menu">
                <td>
                    <li><a class="" href="/adminmember/list">&nbsp;&nbsp;&nbsp;회원 관리&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a class="" href="../../product/list">&nbsp;&nbsp;&nbsp;상품 관리&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a class="" href="/order/list">주문/배송 관리</a></li>
                    <li><a class="customer_center" href="../../admincenter/notice">&nbsp;&nbsp;&nbsp;고객 센터&nbsp;&nbsp;&nbsp;</a></li>
                </td>
            </table>
        </aside>

        <!-- 탑 메뉴 -->
        <table class="top_menu3">
            <tr>
                <th><a class="current_page">&nbsp;&nbsp;&nbsp;공지사항&nbsp;&nbsp;&nbsp;</a></th>
                <th><a href="../../admincenter/faq">자주 묻는 질문</a></th>
                <th><a href="/admincenter/inquiry">&nbsp;&nbsp;&nbsp;1:1 문의&nbsp;&nbsp;&nbsp;</a></th>
            </tr>
        </table>

        <!-- 상단이동버튼 -->
        <img class="topbtn" src="/image/topbtn.svg" onclick="scrollToTop();"></img>

        <div class="board_wrap">
            
                <div class="board_list">
                    <div class="top">
                        <div class="num">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">글쓴이</div>
                        <div class="date">작성일</div>
                        <div class="count">조회</div>
                    </div>
                    <div>
                        <div class="num">5</div>
                        <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                        <div class="writer">운영자</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">4</div>
                        <div class="title"><a href="view.html">글 제목이 들어갑니다. 글 제목이 들어갑니다.</a></div>
                        <div class="writer">운영자</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">3</div>
                        <div class="title"><a href="view.html">글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다.</a></div>
                        <div class="writer">운영자</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">2</div>
                        <div class="title"><a href="view.html">글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다.</a></div>
                        <div class="writer">운영자</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                    <div>
                        <div class="num">1</div>
                        <div class="title"><a href="../../admincenter/notice/select">글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다. 글 제목이 들어갑니다.</a></div>
                        <div class="writer">운영자</div>
                        <div class="date">2021.1.15</div>
                        <div class="count">33</div>
                    </div>
                </div>
            </div>
        </div>

                <div class="board_page">
                    <a href="#" class="bt first"><<</a>
                    <a href="#" class="bt prev"><</a>
                    <a href="#" class="num on">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="num">4</a>
                    <a href="#" class="num">5</a>
                    <a href="#" class="bt next">></a>
                    <a href="#" class="bt last">>></a>
                </div>
                <div class="bt_wrap">
                    <a href="../../admincenter/notice/regist" class="on">등록</a>
                    <!--<a href="#">수정</a>-->
                </div>






</body>
</html>
    